<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/FK6YkqVy1pUGY4k1pygnJg" async></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/FK6YkqVy1pUGY4k1pygnJg" async></script>
<div class="page-widthh">
  <div class="grid">
    <div class="grid__item">
<!--       <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->

      <div class="rte">
        <div class="loyality_banner">
          <img class="desktop_loyality__banner" src="{{'loyality-updated-desktop.jpg' | asset_url }}">
          <img class="mobile_loyality__banner" src="{{'loyality-updated-mobile.jpg' | asset_url }}">
          <img class="under_ban_yel" src="https://cdn.shopify.com/s/files/1/2037/9755/files/Vector-Smart-yell.png?v=1629825842"/>
        </div>
        <div class="built_for">
          <div class="content_section built_text_gola">
            <img src="https://cdn.shopify.com/s/files/1/2037/9755/files/Logo.png?v=1629827388"/>
            <p class="rem_space">wasn’t built for those with a 9 to 5,<br>
              it was built for those with a <span class="golaa_here">24/7 </span> 
            </p>
           
          </div>
          <div class="content_section">
            <p class="built_lt_text">You bring unrelenting energy to our community each and every day, and we couldn’t be more excited to have you on our team. As our way of saying thank you, it’s time for you to unlock exclusive perks, discounts, and rewards with PERFORMIX UNLOCKED.</p>
          </div>
        </div>
        <div class="login_logut_banner">
          <img src="{{'Group_yellow.png' | asset_url }}">
          <div class="yellow_join_banner">  
            <p class="yellow_text">As a rewards member, you’ll get closer to earning exclusive rewards every time you shop</p>
            <div class="login_content">
              <a href="/account/register" class="join__now">Join Now</a>
              <a href="https://performixdriven.com/account/login?checkout_url=https://performixdriven.com/pages/loyality-program" class="login__now">Log In</a>

            </div>
          </div>
        </div>
        <div class="join_earn">
        <div class="yotpo-widget-instance" data-yotpo-instance-id="61186"></div>
        </div>
        <div class="with_grey_vector">
          <img class="grey_vector" src="{{'Vector--Smart-Object.png' | asset_url }}">
          <div class="earning_header">
            <h1><i class="fa fa-chevron-right" aria-hidden="true"></i>  EASY WAYS TO EARN <i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
            <p>For every $1 you spend, you’ll earn 1 point.<p> 
            <p>Get started with a few easy ways to earn below.</p> 
          </div>
        <div class="yotpo-widget-instance" data-yotpo-instance-id="70229"></div>
        <div class="yotpo-widget-instance" data-yotpo-instance-id="67581"></div>
        <div class="convert_comparison">
         <h1><i class="fa fa-chevron-right" aria-hidden="true"></i>  LEVELS AT GLANCE <i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
          <div class="comparison_chart_table">
            <div class="comparison_chart_table_inner">
              <div class="chart_heading">
                <div class="comaprison_heading ist_cmp"><h2> &nbsp; <br><span class="small_level">&nbsp;</span><br></h2></div>
                <div class="comaprison_heading second_cmp"><h2>Game Changer<br><span class="small_level">0—249 pts</span></h2></div>
                <div class="comaprison_heading third_cmp"><h2>Icon<br><span class="small_level">250—499 pts</span></h2></div>
                <div class="comaprison_heading forth_cmp"><h2>Premier<br><span class="small_level">+500 pts</span></h2></div>
              </div>
              <div class="comparison_chart_content">
                <div class="comparison_text heading_text "><p>Point Multipliers</p></div>
                <div class="comparison_text changer">1x</div>
                <div class="comparison_text ivons-c">1.25x</div>
                <div class="comparison_text premier">1.5x</div>
              </div>
              <div class="comparison_chart_content colored_section_chart">
                <div class="comparison_text heading_text "><p>Points Upon Entry</p></div>
                <div class="comparison_text bronze"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text silver"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text gold"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              </div>
              <div class="comparison_chart_content">
                <div class="comparison_text heading_text"><p>Double Point Days</p></div>
                <div class="comparison_text bronze"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text silver"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text gold"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              </div>
              <div class="comparison_chart_content colored_section_chart">
                <div class="comparison_text heading_text"><p>Birthday Drop</p></div>
                <div class="comparison_text bronze"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text silver"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text gold"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              </div>
              <div class="comparison_chart_content">
                <div class="comparison_text heading_text"><p>Early Access to New Products</p></div>
                <div class="comparison_text bronze">&nbsp;</div>
                <div class="comparison_text silver"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                <div class="comparison_text gold"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              </div>
              <div class="comparison_chart_content colored_section_chart">
                <div class="comparison_text heading_text"><p>Surprise Rewards + Experiences</p></div>
                <div class="comparison_text bronze">&nbsp;</div>
                <div class="comparison_text silver">&nbsp;</i></div>
                <div class="comparison_text gold"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              </div>              
            </div>
          </div>
        </div>

        <div class="mobile_comaparison slick-carousels">        
          <div class="game__changer same_width_cnt">
            <div class="comaprison_heading second_cmp"><h2>Game Changer<br><span class="small_level">0—249 pts</span></h2></div>
            <div class="comparison_texts changer grey_background same__xx">1x</div>
            <div class="comparison_texts bronze"><p>Point Multipliers</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts bronze grey_background"><p>Points Upon Entry</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts bronze"><p>Double Point Days</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts bronze grey_background grey_icon"> <p>Birthday Drop</p> <i class="fa fa-check-circle grey_icon" aria-hidden="true"></i></div>
            <div class="comparison_texts bronze grey_icon"><p>Early Access to New Products</p> <i class="fa fa-check-circle grey_icon" aria-hidden="true"></i></div>
            <div class="comparison_texts bronze grey_background grey_icon"><p>Surprise Rewards + Experiences</p> <i class="fa fa-check-circle grey_icon" aria-hidden="true"></i></div>
          </div>
          <div class="icon__changer same_width_cnt">
            <div class="comaprison_heading third_cmp"><h2>Icon<br><span class="small_level">250—499 pts</span></h2></div>
            <div class="comparison_texts ivons-c same__xx grey_background">1.25x</div>
            <div class="comparison_texts silver "><p>Point Multipliers</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts silver grey_background"><p>Points Upon Entry</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts silver"><p>Double Point Days</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts silver grey_background"><p>Birthday Drop</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="comparison_texts silver"><p>Early Access to New Products</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          	<div class="comparison_texts silver grey_background grey_icon"><p>Surprise Rewards + Experiences</p> <i class="fa fa-check-circl grey_icone " aria-hidden="true"></i></div>
        </div>
        <div class="Premier__changer same_width_cnt">
          <div class="comaprison_heading forth_cmp"><h2>Premier<br><span class="small_level">+500 pts</span></h2></div>
          <div class="comparison_texts premier same__xx grey_background">1.5x</div>
          <div class="comparison_texts gold"><p>Point Multipliers</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          <div class="comparison_texts gold grey_background"><p>Points Upon Entry</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          <div class="comparison_texts gold"><p>Double Point Days</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          <div class="comparison_texts gold grey_background"><p>Birthday Drop</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          <div class="comparison_texts gold"><p>Early Access to New Products</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          <div class="comparison_texts gold grey_background"><p>Surprise Rewards + Experiences</p> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
        </div>
      
        </div>
        <div class="loyality_description">
          <h1>FAQ</h1>
          <button class="accordions_loyality">What is Performix Unlocked?</button>
          <div class="panelss_loyality">
            <p>Performix Unlocked is the Performix loyalty program. For every dollar that you spend you earn points towards exclusive offers, surprise experiences and you can redeem points for products.</p>
          </div>
          <button class="accordions_loyality">How do I earn Points?</button>
          <div class="panelss_loyality">
            <p>Every customer that creates a <a href="https://performixdriven.com/">PerformixDriven.com</a> account is eligible for Performix Unlocked. After you create your account, with each purchase you earn points towards the Performix Unlocked Program.  It’s as simple as purchasing your favorite Performix products to start earning points.</p>
          </div> 
          <button class="accordions_loyality">How do I redeem Points?</button>
          <div class="panelss_loyality">
            <p>You can redeem points during checkout when signed in to your account.</p>
          </div> 
          <button class="accordions_loyality">Do points expire?</button>
          <div class="panelss_loyality">
            <p>Points are earned on a rolling 12-month calendar. Points will expire after 12 months from your last purchase.</p>
          </div> 
          <button class="accordions_loyality">How do I check my Performix Unlocked balance?</button>
          <div class="panelss_loyality">
            <p>You can check your balance by logging into your Performix account or by logging in at any time.</p>
          </div>
          <button class="accordions_loyality">What happens if you return items?</button>
          <div class="panelss_loyality">
            <p>If you return products we will remove the balance from your points within 30 days.</p>
          </div>
          <button class="accordions_loyality">Are there any exclusions when I redeem points?</button>
          <div class="panelss_loyality">
            <p>Yes, for each coupon you receive there will be a minimum cart balance: $10 coupon - $50 total cart $15 coupon - $75 total cart and $20 coupon - $100 total cart.</p>
          </div>
         <button class="accordions_loyality">Are there any exclusions when I redeem points?</button>
          <div class="panelss_loyality">
            <p>Do coupons expire? Yes, after 30 days your loyalty coupon code with expire.</p>
          </div>
   		<button class="accordions_loyality">How does the referral program work?</button>
          <div class="panelss_loyality">
            <p>Each time you refer another high performer they will receive an email notification with a code to receive 15% off when they spend $75. After they check out you will receive 200 loyalty points which you can use to redeem for a $20 coupon. The $20 coupon will be applied when you spend $100.</p>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.loyality_description button.accordions_loyality {
    background-color: #3484EC;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    border-bottom:1px solid #fff;
    text-transform: capitalize;
  }
  .loyality_description .accordions_loyality.border-rem{
  	border-bottom:none !important;
  }
  .loyality_description button.accordions_loyality.active {
    background-color: #3484EC;
    border-bottom: none;
  }
  .loyality_description button.accordions_loyality:hover {
    background-color: #3484EC;
  }
  .loyality_description button.accordions_loyality:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .loyality_description button.accordions_loyality.active:after {
    content: "\2212";
  }
  .loyality_description div.panelss_loyality {
    display: none;
  }
  .loyality_description div.panelss_loyality.show {
    display: block !important;
    padding: 10px;
    border-bottom: 1px solid #000;
  }
  .loyality_description{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 1480px;
  }
  .loyality_description h1 {
    text-align: center;
    color: rgb(52, 132, 236);
    font-size: 42px;
    font-family: 'Geogtq-Bd';
}
  @font-face {
        font-family: 'Geogtq-Bd';
        src: url({{ 'Geogtq-Bd.eot' | asset_url  }});
        src: local('☺'), 
            url({{ 'Geogtq-Bd.woff' | asset_url  }}) format('woff'), 
            url({{ 'Geogtq-Bd.ttf' | asset_url  }}) format('truetype'), 
            url({{ 'Geogtq-Bd.svg' | asset_url  }}) format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Geogtq-Rg';
        src: url({{ 'Geogtq-Rg.eot' | asset_url  }});
        src: local('☺'), 
            url({{ 'Geogtq-Rg.woff' | asset_url  }}) format('woff'), 
            url({{ 'Geogtq-Rg.ttf' | asset_url  }}) format('truetype'), 
            url({{ 'Geogtq-Rg.svg' | asset_url  }}) format('svg');
        font-weight: normal;
        font-style: normal;
    }
  .comparison_texts {
    border: 1px solid #eee;
    padding: 10px 0;
    color:rgb(52, 132, 236);   
    min-height: 60px;
  }
  .comparison_texts p, .comparison_texts {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Geogrotesque-Bold';
  }
  .earning_header h1 {
    font-family: 'Geogtq-Bd';
}
  .comparison_texts.bronze{
  	color:#3484EC;
  }
  .same__xx {
    font-size: 19px;
    font-weight: bold;
  }
  .comaprison_heading {
    min-height: 75px;
}
  
  .mobile_comaparison {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .same_width_cnt {
    width: 25%;
    text-align: center;
    border-right: 1px solid #000;
}
  .same_width_cnt:last-child {
    border: none;
}
  .grey_background {
    background: #DCDCDC;
}
  .comparison_texts.ivons-c{
  	color:#845BC3;
  }
  .built_for {
    display: flex;
    align-items: inherit;
    vertical-align: middle;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding:120px 5px;
  }
  .content_section {
    width: 50%;
    float: left;
  }
  .rem_space{
    margin-bottom:0;
  }
  .built_text_gola{
    position:relative;
  }
  img.golaa_text {
    position: absolute;
    bottom: 57px;
    width: 103px;
    right: 64px;
  }
  .rem_space {
    margin-bottom: 0;
    font-size: 31px;
    font-weight: bold;
    color: rgb(52, 132, 236);
    max-width: 5300px;
    width: 100%;
    position:relative;
    text-transform: uppercase;
    font-family:'Geogtq-Bd';
  }
  .content_section .built_lt_text{
    color: #3484EC;
    font-size: 22px;
  }

  .comparison_chart_table {
    clear: both;
    padding-top: 0;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 100px;
  }
  .comparison_chart_table_inner {
    width: 80%;
    margin: 0 auto;
    padding-top:10px;
    max-width: 1480px;
  }
 .comparison_chart_table .comparison_text p {
    padding-left: 3px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Geogrotesque-Bold';
}
  .rem_space{
  	position:relative;
  }
  .comparison_chart_table .chart_heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .comparison_chart_table i.las.la-check-circle {
    color: #3D97FF;
    font-size: 35px;
  }
  .comparison_chart_table i.las.la-times-circle {
    color: #f18095;
    font-size: 35px;
  }
  .comparison_chart_table .comaprison_heading {
    width: 25%;
    float: left;
    text-align:center;
  }

  .comparison_chart_content {
    float: left;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*   padding: 11px 0; */
  }
  .comparison_text {
    width: 25%;
    float: left;
    text-align: center;
    padding:10px 0;
    border-right: 1px solid #000;
    min-height:52px;
  }
  .comaprison_heading h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family:'Geogtq-Bd';
  }
  .comparison_chart_content.colored_section_chart {
    background: #DCDCDC;
  }
  img.grey_vector {
    display: block;
    width:100%;
  }
  .login_logut_banner img {
    width: 100%;
}
  .loyality_banner img {
    width: 100%;
    display:inherit;
}
  .login_logut_banner {
    width: 100%;
    position: relative;
  }
  .yellow_join_banner {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
  p.yellow_text {
    color: #000;
    font-size: 22px;
    font-weight: bold;
  }
  .login_content {
    width: 100%;
  }
  a.join__now {
    margin-right: 20px;
    background: #000;
    color: #fff;
    padding: 5px 31px !important;
    display: inline-block;
    border-radius: 20px;
  }
  a.login__now{
    margin-left: 20px;
    background: transparent;
    color: #000;
    padding: 5px 31px !important;
    display: inline-block;
    border-radius: 20px;
    border:1px solid #000;
  }
  .ist_cmp{
    background:#DCDCDC;
  }
  .second_cmp {
    background: #3484EC;
  }
  .third_cmp {
    background: #845BC3;
  }
  .forth_cmp{
    background:#696969;
  }
  .comaprison_heading h2 {
    margin-bottom: 0;
    padding: 15px 0px;
    color:#fff;
  }
  .bronze .fa-check-circle{
    color:#3484EC;
  }
  .silver .fa-check-circle{
    color:#845BC3;
  }
  .gold .fa-check-circle{
    color:#696969;
  }
  .small_level{
    font-size:12px;
  }
  .with_grey_vector {
    background: #F5F5F5;
    padding-bottom: 1rem;
  }
  .join_earn {
    padding-bottom: 7rem;
  }
  .earning_header {
    text-align: center;
  }
  .earning_header p , .earning_header h1{
    margin-bottom:0;
  }
  .earning_header h1 {
    color: rgb(52, 132, 236);
    font-size: 42px;
    font-weight: bold;
  }
  .earning_header {
    text-align: center;
    padding-top: 6rem;
  }
  .comparison_text:last-child {
    border: none;
  }
  .yotpo-container-headline {
    border-top: 2px solid #3484EC;
  }
  .yotpo-widget-campaign-widget .yotpo-tile {
    background: unset !important;
    border: unset !important;
  }
  .yotpo-widget-campaign-widget .yotpo-outer-tile {
    border: none !important;
  }
  .yotpo-description-text {
    font-size: 27px !important;
    color:#377EEF !important;
    font-weight:bold !important;
    text-transform: uppercase;
    font-family: 'Geogtq-Bd' !important;
  }
  .earning_header p {
    text-transform: uppercase;
    color: gray;
    font-family: 'Geogrotesque';
    font-weight:bold;
  }
  .yotpo-widget-campaign-widget .yotpo-widget-campaign-widget-container{
    padding-bottom: 0 !important;
    padding-top:27px;
  }
  .comparison_text.changer{
    color: #3484EC;
    font-weight:bold;
  }
  .comparison_text.ivons-c{
    color: #845BC3;
    font-weight:bold;
  }
  .comparison_text.premier{
    color:#696969;
    font-weight:bold;
  }
  .convert_comparison h1{
    text-align:center;
    color: rgb(52, 132, 236);
    font-size: 42px;
    font-family:'Geogtq-Bd';
  }
  .comparison_text.heading_text{
    color: rgb(52, 132, 236);
  }
  .yotpo-title-text {
    -webkit-text-fill-color: #eee;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #377EEF;
    font-family: 'Geogtq-Bd'!important;
    font-size: 27px !important;
    text-transform: uppercase;

  }
  .yotpo-widget-my-rewards-widget .yotpo-tile-box{
    padding:10px 0 !important;
  }
  .yotpo-widget-campaign-widget-icon-container {
/*     height: 85px;
    margin-bottom: 14px;
    background: #3484EC;
    width: 85px;
    border-radius: 100%;
    margin: 0 auto;*/
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom:15px;
    order:1;
  }
/*   .yotpo-widget-campaign-widget-icon-container .yotpo-widget-campaign-widget-custom-icon {
    height: auto !important;; 
  } */
  .yotpo-widget-campaign-widget .yotpo-headline-center-element{
    order:3;
  }
  .yotpo-description-text {
    order: 2;
  }
  .built_lt_text:after {
    position: absolute;
    content: "";
    height: 3px;
    background: rgb(52, 132, 236);
    width: 13%;
    left: 0;
    bottom: -68px;
    display: inherit;
}
  .built_lt_text{
  	position:relative;
  }
  .comparison_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .yotpo-widget-my-rewards-widget .yotpo-is-mobile .yotpo-step-icon, .yotpo-widget-my-rewards-widget .yotpo-step-icon {
    height:80px !important;
}
  .golaa_here:after {
    content: "";
    width: 103px;
    height: 80px;
    background: url({{'golaa-texts.png' | asset_url}});
    top: -16px;
    right: -28px;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}
  span.golaa_here {
    position: relative;
}
  .mobile_comaparison{
  	display:none;
  }
  .yotpo-title-text{
  	font-family:'Geogtq-Bd' !important;
  }
  .yotpo-reward-steps-title .yotpo-inner-text{
  	font-family:'Geogtq-Bd' !important;
  }
  .flexified-wrapper .flexified-child:before {
    padding-top: 50%;
}
  .convert_comparison {
    padding-top: 4rem;
  }
  .flexified-wrapper:not(.flexified-mobile).flexified-full-width-last-item .flexified-child:last-child:before {
    padding-top: 50% !important;
}
  .flexified-wrapper:not(.flexified-mobile).flexified-full-width-last-item .flexified-child:last-child {
    flex-grow: 0 !important;
}
  img.mobile_loyality__banner{
  	display:none;
  }
  @media only screen and (max-width: 320px){
   .page-widthh .with_grey_vector .yotpo-description-text {
      font-size: 14px !important;
   }
   .page-widthh .yotpo-title-text {
      font-size: 12px !important;
    }
  }
  @media only screen and (max-width: 749px){
    .mobile_loyality__banner{
      display:block !important;
    }
    img.desktop_loyality__banner{
      display:none;
    }
    .built_for {
      flex-flow:column;
      padding: 120px 31px;
    }
    .content_section {
      width: 100%;
    }
    .comaprison_heading h2 {
      font-size: 15px;
    }
    .comparison_chart_table_inner {
      width: 100%;
    }
    .earning_header h1 {
      font-size: 28px;
    }
    .with_grey_vector .yotpo-description-text {
      font-size: 16px !important;
    }
    .yotpo-title-text{
      font-size: 18px !important;
    }
    .convert_comparison h1{
      font-size: 28px;
    }
/*     .yotpo-widget-campaign-widget-icon-container {
      height: 60px !important;
      width: 60px;
    }
    .yotpo-widget-campaign-widget-icon-container .yotpo-widget-campaign-widget-custom-icon {
      width: 22px;
    } */
    .login_logut_banner {
      background: #DFF159;
      background-size: cover;
      padding: 11rem 0;
    }
    a.join__now {
      margin-right: 0px;
      width: 65%;
      margin-bottom: 21px;
      padding: 11px 0 !important;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Geogtq-Bd';
    }
    a.login__now {
      margin-left: 0px;
      width: 65%;
      padding: 11px 0 !important;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Geogtq-Bd';
    }
    .login_logut_banner img {
      display: none; 
    }
    .yellow_join_banner {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .with_grey_vector {
      padding-right: 5px;
      padding-left: 5px;
      background:#fff;
    }
    i.fa.fa-chevron-right {
      display: none;
    }
    i.fa.fa-chevron-left{
      display: none;
    }
    .yotpo-container-headline {
      border-top: none;
    }
    .earning_header p {
      font-size: 16px;
    }
    .comparison_chart_table .comparison_text p {
      font-size: 11px;
    }
    .comparison_text {
      min-height: 110px;
    }
    .comparison_chart_table .comaprison_heading {
      min-height: 85px;
    }
    .built_lt_text:after {
      bottom: -20px;
      width:45%;
    }
    .rem_space {
    font-size: 44px;
      line-height: 42px;
    }
    .comparison_text {
      font-size: 16px;
    }
    .golaa_here:after{
      right:-17px;
    }
    .mobile_comaparison {
      flex-flow: column;
    }
    .same_width_cnt{
    	width:100%;
    }
    .slick-prev {
      left: 23px;
    }
    .slick-prev, .slick-next{
      top:6%;
      z-index:9;
    }
    .slick-prev:before, .slick-next:before {
      color: #000
    }
    .slick-next {
      right: 89px;
    }
    .mobile_comaparison {
      display: block;
    }
    .comparison_chart_table{
      display:none;
    }
    .mobile_comaparison {
    	display:block !important;
    }
    .comparison_texts {
       min-height: 85px; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 21px;
    }
    .comparison_texts p{
      margin-bottom:0;
    }
    .grey_icon, .grey_icon p{
    	color:#eee !important;
    }
    .mobile_comaparison .third_cmp {
      background: #dff159;
    }
    .mobile_comaparison .comaprison_heading h2 {
      color: #fff;
      font-size:25px;
    }
    .forth_cmp {
      background: #845BC3;
    }
    .mobile_comaparison .silver .fa-check-circle {
      color: #696969;
    }
    .icon__changer .comparison_texts{
      color: #696969;
    }
    .Premier__changer  .comparison_texts{
      color: #845BC3;
    }
    .mobile_comaparison .gold .fa-check-circle {
      color: #845BC3;
    }
    .icon__changer .comaprison_heading h2{
    	color:#000;
    }
    .slick-prev:before {
      content: "\f060";
      font-family: 'FontAwesome';
      color:#fff;
    }
    .slick-next:before {
      content: "\f061 ";
      font-family: 'FontAwesome';
      color:#fff;
    }
    .golaa_here:after{
    	content:unset;
    }
    .slick-list{padding:0 20% 0 0 !important;}
    .flexified-wrapper .flexified-child:before {
      padding-top: 100%;
    }
    .convert_comparison {
      padding-top: 2rem;
    }
    .loyality_description {
      width: 100%;
    }
  }
  @media (min-width: 749px) and (max-width: 1024px) {
/*     .yotpo-widget-campaign-widget-icon-container {
      height: 60px !important;
      width: 60px;
    }
    .yotpo-widget-campaign-widget-icon-container .yotpo-widget-campaign-widget-custom-icon {
      width: 30px;
    } */
    .convert_comparison {
      padding-top: 2rem;
    }
  }
{% endstylesheet %}

{% javascript %}
 $(document).ready(function(){
    if ($(window).width() < 749) {
      $('.slick-carousels').slick({
        arrows: true,
        dots: false,
        slidesToShow: 1,
        infinite: true,
        centerMode: true
      });
    }
    var acc = document.getElementsByClassName("accordions_loyality");
    var panels = document.getElementsByClassName('panelss_loyality');

    for (var i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        var setClasses = !this.classList.contains('active');
        setClass(acc, 'active', 'remove');
        setClass(panels, 'show', 'remove');

        if (setClasses) {
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
        }
      }
    }
    acc[0].onclick();
    function setClass(els, className, fnName) {
      for (var i = 0; i < els.length; i++) {
        els[i].classList[fnName](className);
      }
    }
  });
{% endjavascript %}
